<div fxLayout='row' fxLayoutAlign='center start'>
	<mat-card fxFlex='90'>
		<mat-card-header>
			<mat-card-title>
				First Store Module
				<span *ngIf='currentCallStatus'>&mdash; (Loading...)</span>
				<span *ngIf='username !== "UNDEF" && username !== "N"'>&mdash; Welcome {{username}}</span>
			</mat-card-title>
			<mat-card-subtitle>
				Created two new modules for NgRx store part of the app. These two new modules will have an app-wide
				store controlling them. The rest of the app will still be as is to keep all that is learnt as is.
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div fxLayout='row wrap' fxLayoutAlign='start'>
				<mat-card style='margin-right: 16px; margin-bottom: 16px; width: 282px; height: 238px;'
					fxLayoutAlign='center center'>
					<button mat-icon-button (click)='onNewRecipe()'>
						<mat-icon style='transform: scale(5)'>add_circle_outline</mat-icon>
					</button>
				</mat-card>
				<app-recipe-card *ngFor='let recipe of recipeList; let i = index' [storeRecipe]='recipe'
					(editRecipeEmitter)='onEditRecipe(i)' (duplicateRecipeEmitter)='onDuplicateRecipe(i)'
					(deleteRecipeEmitter)='onDeleteRecipe(i)'>
				</app-recipe-card>
			</div>
		</mat-card-content>
		<mat-card-actions fxLayout='row' fxLayoutAlign='end'>
			<button mat-raised-button color='primary' (click)='onStoreAPILogin()'> Store API Login</button>
		</mat-card-actions>
	</mat-card>
</div>
