<div fxLayout='row' fxLayoutAlign='center start'>
	<mat-card fxFlex='90'>
		<mat-card-header>
			<mat-card-title> First Store Module </mat-card-title>
			<mat-card-subtitle>
				Created two new modules for NgRx store part of the app. These two new modules will have an app-wide
				store controlling them. The rest of the app will still be as is to keep all that is learnt without
				changes.
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			add content here
		</mat-card-content>
	</mat-card>
</div>
