package.json
package-lock.json
angular.json
tslint.json
tsconfig.json
src/tsconfig.app.json
src/tsconfig.spec.json
src/polyfills.ts
.vscode/*
*.md
dist
src/assets/*
src/ti-favicon.ico
browserslist
.editorconfig
.npmrc
.gitignore
.prettierignore