<br>
<div fxLayout='column'>
	<h2> Data Visualization </h2>
	<div fxLayout='row'>
		<mat-card fxFlex='48' style='margin: 0px 16px 16px 0px'>
			<mat-card-title> AmCharts XY Chart </mat-card-title>
			<div mat-card-lg-image id='chartDiv' class='dark-xy-chart-styles'></div>
			<mat-card-content>
				<p>
					We use XY chart to plot any kind of serial 2/3-dimensional data,
					including line, area, column, bar, candlestick, ohlc, stepline, even heatmaps.
					Basically, any data, that requires 2 dimensions can be depicted using XY chart.
				</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button> LIKE </button>
				<button mat-button> SHARE </button>
			</mat-card-actions>
		</mat-card>
		<mat-card fxFlex='48' style='margin: 0px 16px 16px 0px'>
			<mat-card-title> AmCharts Microcharts & Sparkline </mat-card-title>
			<div mat-card-lg-image id='chartDiv2' class='dark-xy-chart-styles'></div>
			<mat-card-content>
				<p>
					Micro charts & sparklines give a quick representation of statistical information
					with no additional details and in a condensed space. They are typically drawn without axes
					and intended to be succinct, memorable, and located where they are discussed.
				</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button> LIKE </button>
				<button mat-button> SHARE </button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>

<!-- The like and share buttons do nothing -->
