<div>
	<button mat-raised-button color='primary' (click)='toIconReference()'> Icons Reference </button>
	&nbsp;
	<button mat-raised-button color='primary' (click)='toRxjsOperatorsAPI()'> RXJS Operators API </button>
	&nbsp;
	<button mat-raised-button color='primary' (click)='toNgrxAPI()'> NGRX API </button>
	&nbsp;
	<button mat-raised-button color='primary' (click)='toFlexLayoutAPI()'> Flex Layout API </button>
	&nbsp;
	<button mat-raised-button color='primary' (click)='toMaterialAPI()'> Material API </button>
	&nbsp;
</div>
<hr>
<app-socket-store></app-socket-store>
<hr>
<a mat-raised-button routerLink='/home' routerLinkActive='active-link' [routerLinkActiveOptions]='{exact: true}'>Angular
	Pro (Home Router)</a>
<a mat-raised-button routerLink='/dev' routerLinkActive='active-link'>Angular Pro (Dev)</a>
<a mat-raised-button routerLink='/main' routerLinkActive='active-link'>Angular Pro (Main)</a>
<a mat-raised-button routerLink='/first-store' routerLinkActive='active-link'>NgRx Store (First)</a>
<a mat-raised-button routerLink='/second-store' routerLinkActive='active-link'>NgRx Store (Second)</a>
<div fxLayout='row' fxLayoutAlign='center start' class='parent-container'>
	<div fxFlex='95' class='app-content'>
		<router-outlet></router-outlet>
	</div>
</div>
