$content-height: 500px;

.active-link {
	color: white;
	background-color: rgb(100, 48, 196);
}

.app-content {
	max-height: $content-height - 10px;
	overflow-y: auto;
	margin-top: 8px;
	padding: 8px 0px;
	border: 1px solid black;
	border-radius: 5px;
}

.parent-container {
	height: $content-height;
}

.app-title {
	display: inline;
}
