<!-- dev stuff -->
<div fxLayout='row' fxLayoutAlign='center'>
	<mat-card fxFlex='90'>
		<mat-card-header>
			<mat-card-title>Development Project</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-tab-group [(selectedIndex)]='tabIndex'>
				<mat-tab label="Components & Directives">
					<button [disabled]='!flipDisable' (click)='onUpdateProfileFlag()'> Update Profile Flag </button>
					<div *ngIf='!profileFlag; else profile'>
						<!-- two way binding with ng style -->
						<label>Two-way binding</label>
						<input [ngStyle]='{"border": "2px solid " + getColor(1)}' type='text'
							[(ngModel)]='serverNames[1]'>
						<button (click)='onUpdateServerName($event, 1)'> Set Default Server 2 </button><br><br>
						<!-- properting and event binding with ng class -->
						<label>Property/Event binding</label>
						<input [ngClass]='{"red-text": !isValidServerName(0), "green-text": isValidServerName(0)}'
							type='text' (input)='onUpdateServerName($event)'><br><br>
						<!-- custom property binding from code with ngFor -->
						<button (click)='addServer()'> Add server </button>
						<!-- Input to server comp -->
						<app-server *ngFor='let server of serverNames; let i = index' [serverName]='serverNames[i]'
							[ngClass]='{"red-text": i >= 4 , "green-text": i < 4}'>
						</app-server>
						<!-- default property -->
						<app-server></app-server>
					</div>
					<ng-template #profile>
						<app-profile [profileName]='profileName' (profileUpdate)='updateProfileName($event)'>
							<!-- using slots -->
							<span slot='mid' #mid> This is some slot content in the mid </span>
							<span slot='end' #end> This is some slot content at the end </span>
						</app-profile>
						<!-- <div app-profile></div> -->
						<!-- <div class="app-profile"></div> -->

						<!-- Output from profile comp -->
						<p> Profile name above is {{profileName}} </p>
					</ng-template>
					<hr>
					<!-- custom attribute and structural directive -->
					<p *appUnless='profileFlag' appBasicighlight [defaultColor]='"yellow"' [hoverColor]='"red"'> Styled
						with basic highlight
						directive </p>
					<hr>
					<!-- ng switch directive -->
					<div [ngSwitch]='value'>
						<p *ngSwitchCase='5'>5</p>
						<p *ngSwitchCase='10'>10</p>
						<p *ngSwitchCase='100'>100</p>
						<p *ngSwitchDefault>default</p>
					</div>
				</mat-tab>
				<mat-tab label="Services & Observables">
					<app-account-list></app-account-list>
				</mat-tab>
				<mat-tab label="Template & Reactive Forms">
					<app-form></app-form>
				</mat-tab>
				<mat-tab label="Pipes & Http Requests">
					<app-http-pipe></app-http-pipe>
				</mat-tab>
			</mat-tab-group>
		</mat-card-content>
	</mat-card>
</div>
