<div fxLayout='row' fxLayoutAlign='center start'>
	<mat-card fxFlex='90'>
		<mat-card-title> Socket Store Module </mat-card-title>
		<mat-card-content>
			<p>
				The vehicle routing problem will be solved here for a random instance in a brute force way.
				It will be done over a socket using the single-thread implementation on a Java service.
				Click on the 'Open Socket Dialog' button to get started!
			</p>
		</mat-card-content>
		<mat-card-actions fxLayoutAlign='end'>
			<button mat-raised-button color='primary' (click)='openSocketDialog()'> Open Socket Dialog </button>
		</mat-card-actions>
	</mat-card>
</div>
