<mat-card>
	<mat-card-content>
		<div fxLayout='row' fxLayoutAlign='start center'>
			<div fxFlex='20'>
				<label> Name <br> <input #nameInput type='text' [(ngModel)]='currentIngredient.name'> </label>
			</div>
			<div fxFlex='20'>
				<label> Quantity <br> <input #qtyInput type='number' [(ngModel)]='currentIngredient.quantity'> </label>
			</div>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color='primary' (click)='onAdd()'>Add</button>
		<button mat-raised-button color='secondary' (click)='onClear()'>Clear</button>
		<button mat-raised-button color='warn' (click)='onDelete()'>Delete</button>
	</mat-card-actions>
</mat-card>
