<mat-card>
	<mat-card-content>
		<div fxLayout='row' fxLayoutAlign='start center'>
			<div fxFlex='20'>
				<label> Name <input type='text'> </label>
			</div>
			<div fxFlex='20'>
				<label> Quantity <input type='number'> </label>
			</div>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color='primary'>Add</button>
		<button mat-raised-button color='secondary'>Clear</button>
		<button mat-raised-button color='warn'>Delete</button>
	</mat-card-actions>
</mat-card>