<div fxLayout='row' fxLayoutAlign='space-between stretch'>
	<div fxLayout='column' fxFlex='40' fxLayoutAlign='start'>
		<h2>Recipe List</h2>
		<app-recipe-item *ngFor='let item of recipes' [recipe]='item'></app-recipe-item>
		<button mat-raised-button color='primary' (click)='onNewRecipe()'> New Recipe </button>
	</div>
	<div fxLayout='column' fxFlex='50' fxLayoutAlign='start'>
		<app-recipe-detail *ngIf='selectedRecipe' [recipe]='selectedRecipe'></app-recipe-detail>
		<app-recipe-edit *ngIf='!selectedRecipe'></app-recipe-edit>
	</div>
</div>