<mat-card>
	<mat-card-header>
		<mat-card-title>
			{{recipe.name}}
		</mat-card-title>
	</mat-card-header>
	<img mat-card-image [src]='recipe.imagePath'>
	<mat-card-content>
		<p>{{recipe.description}}</p>
		<hr>
		<ul>
			<li *ngFor='let ingredient of recipe.ingredients'>
				{{ingredient.name}} ({{ingredient.quantity}})
			</li>
		</ul>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color='primary' (click)='toShoppingList()'>Shop</button>
		<button mat-raised-button color='primary' (click)='toRecipeEdit()'>Edit</button>
		<button mat-raised-button color='warn' (click)='deleteRecipe()'>Delete</button>
	</mat-card-actions>
</mat-card>
